*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #1e2122;
}

h1,
button {
  font-family: "Open Sans", sans-serif;
}

label,
li {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

/*SIDE MENU*/

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #303638;
  width: 17vw;
  height: 100vh;
  max-width: 200px;
  padding: 1em 0;
}

.side-menu-btn {
  display: flex;
  color: white;
  font-size: 1rem;
  padding: 0 1em;
}

.side-menu-btn:hover,
.folder-btn:hover {
  background-color: #474f52;
}

.side-menu-btn img {
  align-self: center;
  width: 20px;
}

.side-menu-btn p {
  margin: 10px 15px;
}

.folder-section {
  display: flex;
  flex-direction: column;
}

.folder-btn {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  padding: 0.45em 20px;
  display: block;
}

.side-records {
  display: flex;
  flex-direction: column;
  background-color: #c6ddda;
  width: 28vw;
  height: 100vh;
  max-width: 330px;
  padding: 1em;
}

.side-records-title {
  margin: 0 0 0.2em;
  font-weight: 400;
  font-size: 1.625rem;
}

/*SEARCH BAR*/

.search-bar {
  background: url(../images/magnifying-glass-solid.svg) no-repeat 3px 4px
    #b3d3d6;
  background-size: 20px;
  font-weight: 300;
  color: #1e2122;
  font-size: 1rem;
  padding: 5px 7px 5px 28px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 7px;
}

.search-bar::placeholder {
  color: #4d5255;
}

/*RECORDS*/

.record {
  display: flex;
  margin-bottom: 20px;
}

.record-icon {
  margin-right: 10px;
}

.record-title {
  font-size: 1.6rem;
  margin: 0;
}

.record-description {
  font-size: 0.875rem;
  margin: 0;
}

/*IFRAME MAIN CONTENT*/
.main-content {
  width: 100%;
}

/*MODAL*/
.hidden {
  display: none;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.record-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  background-color: white;
  border-radius: 7px;
  padding: 2em 1.5em;
}

.modal-title {
  margin: 0 0 0.5em 0;
}

.record-modal input,
textarea {
  display: block;
  margin-bottom: 1em;
  padding: 0.7em;
  background-color: #e4ebe9;
  border: 0;
  border-radius: 5px;
}

.record-modal input {
  max-width: 330px;
  width: 100%;
  height: 2.1em;
}

textarea {
  width: 100%;
  height: 100px;
  max-height: 200px;
  min-height: 70px;
  resize: vertical;
  line-height: 125%;
}

.record-modal label {
  font-size: 1.1rem;
  font-weight: 600;
}

.modal-submit {
  width: 150px;
  height: 40px;
  background: #3a807c;
  color: white;
  border: 0;
  border-radius: 7px;
  margin-top: 1em;
  font-size: 1.1rem;
}
