*,
*::before,
*::after {
  box-sizing: border-box;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Makes it so scrollbar does not disappear when not being used */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.folder-section::-webkit-scrollbar-thumb {
  background-color: rgba(224, 234, 231, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #1e2122;
}

h1,
button {
  font-family: "Open Sans", sans-serif;
}

label,
li {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

/*SIDE MENU*/

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #303638;
  width: 17vw;
  height: 100vh;
  max-width: 200px;
  padding: 1em 0;
}

.side-menu-btn {
  display: flex;
  color: white;
  font-size: 1rem;
  padding: 0 1em;
}

.side-menu-btn:hover,
.folder-btn:hover {
  cursor: pointer;
  background-color: #474f52;
}

.side-menu-btn:active,
.folder-btn:active {
  background-color: #384043;
}

.side-menu-btn img {
  align-self: center;
  width: 20px;
}

.side-menu-btn p {
  margin: 10px 15px;
}

.delete-folder-btn {
  visibility: hidden;
  margin-top: auto;
}

.sign-out-btn {
  margin-top: auto;
}

.folder-section {
  overflow-y: scroll;
  height: max-content;
  margin: 0 0.3em 1em 0;
}

.folder-btn {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  padding: 0.45em 1.25em;
  display: block;
}

.new-folder input {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  padding: 0;
}

.new-folder input:focus {
  outline: none;
}

.button-selected {
  background-color: #42474d;
}

.side-records {
  display: flex;
  flex-direction: column;
  background-color: #c6ddda;
  width: 30vw;
  height: 100vh;
  max-width: 330px;
  padding: 1em 0;
}

.side-records-top {
  padding: 0 1em;
}

.side-records-title {
  margin: 0 0 0.2em;
  font-weight: 400;
  font-size: 1.625rem;
}

/*SEARCH BAR*/

.search-bar {
  background: url(../images/magnifying-glass-solid.svg) no-repeat 3px 4px
    #b3d3d6;
  background-size: 20px;
  font-weight: 300;
  color: #1e2122;
  font-size: 1rem;
  padding: 5px 2vw 5px 28px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 7px;
}

.search-bar::placeholder {
  color: #4d5255;
}

/*RECORDS*/
#records-list {
  overflow-y: scroll;
}

.record {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 0.8em;
  border: 0;
  background: none;
}

.record-info {
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
}

.record:hover {
  background-color: #b4d1ca;
}

.record-icon {
  margin-right: 10px;
  width: 78px;
  border-radius: 10px;
}

.record-title {
  font-size: 1.6rem;
  margin: 0;
}

.record-description {
  font-size: 0.875rem;
  margin: 0;
}

/*IFRAME MAIN CONTENT*/
.main-content {
  width: 100%;
}

/*MODAL*/
.hidden {
  display: none;
}

.modal-backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.record-modal-background {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  background-color: white;
  border-radius: 7px;
  padding: 2em 1.5em;
}

.record-modal {
  overflow-y: scroll;
  /* Height equals entire modal minus the title height */
  height: calc(100% - (59px));
}

.modal-title {
  margin: 0 0 0.5em 0;
}

.exit-modal-btn {
  position: fixed;
  right: 1em;
  top: 1em;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

.exit-modal-btn img {
  height: 100%;
}

.exit-modal-btn img:hover {
  filter: brightness(20%);
}

.record-modal input,
.record-modal select,
textarea {
  display: block;
  margin-bottom: 1em;
  padding: 0.7em;
  background-color: #e4ebe9;
  border: 0;
  border-radius: 5px;
}

.record-modal input {
  max-width: 330px;
  width: 100%;
  height: 2.1em;
}

.record-modal textarea {
  width: 90%;
  height: 100px;
  max-height: 200px;
  min-height: 70px;
  resize: vertical;
  line-height: 125%;
}

.record-modal label {
  font-size: 1.1rem;
  font-weight: 600;
}

.optional-input {
  font-weight: 400;
  font-size: 0.8rem;
  color: #4d5255;
}

#form-password {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.password-strength-section progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0.2em 0 0.6em 0;
}

.password-strength-section progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.password-strength-section progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: rgb(223, 77, 77);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.guidelines {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.password-strength-section ul {
  margin: 0.3em 0 0 0;
  padding-left: 20px;
}

.password-strength-section li {
  font-size: 0.8rem;
}

.btn {
  color: white;
  border: 0;
  font-size: 1.1rem;
}

.generate-random-password-btn {
  display: block;
  background-color: #4d98df;
  width: 330px;
  padding: 0.3em;
  border-radius: 0 0 5px 5px;
}

.generate-random-password-btn:hover {
  background-color: #4681d3;
}

.generate-random-password-btn:active {
  background-color: #4165c9;
}

.modal-submit {
  background: #3a807c;
  border-radius: 7px;
  margin-top: 1em;
  width: 150px;
  height: 40px;
}

.modal-submit:hover {
  width: 170px;
}

.modal-submit:active {
  background: #32716e;
}
