*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #1e2122;
}

h1,
button {
  font-family: "Open Sans", sans-serif;
}

label,
li {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 30px 25px;
}

.btn {
  position: fixed;
  background: #3a807c;
  color: white;
  padding: 0.5em 0.6em;
  border: 0;
  border-radius: 7px;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
}

.edit-btn {
  width: 77px;
  right: 20px;
  top: 27px;
}

.new-record-btn {
  width: 130px;
  right: 20px;
  bottom: 27px;
}

.btn img {
  height: 30px;
  margin-right: 7px;
}

p {
  line-height: 125%;
}
