*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
button {
  font-family: "Open Sans", sans-serif;
}

h2,
li {
  font-family: "Poppins", sans-serif;
}

.side-content {
  background-image: url(../images/login-page-background.png);
  background-size: cover;
}
